// Berkshire Swash
@font-face {
    font-family: 'Berkshire Swash';
    src: url(../assets/fonts/BerkshireSwash/BerkshireSwash-Regular.ttf) format('truetype');
}

// Poppins
@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins/Poppins-Regular.ttf) format('truetype');
}

// Montserrat
@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat/Montserrat-Regular.ttf) format('truetype');
}